.DropdownContainerDiv {
    padding: 6px;
    border: solid #d7d7d7 1px;
    width: fit-content;
    box-sizing: border-box;
}

.DropdownSelect {
    padding-right: 6px;
    border: none;
    outline: none;
    color: black;
    height: -webkit-fill-available;
    font-size: 15px;
}

.DropdownSelect:focus {
    border: none;
    outline: none;
}

select {
    background-color: white;
    color: black
}
