.HeaderContainerDiv {
	padding: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #14aaff;
	width: 100vw;
    position: fixed;
    box-sizing: border-box;
    color: white;
	top: 0;
	z-index: 1;
}

.HeaderLogoGroupDiv {
	display: flex;
	align-items: center;
}

.HeaderTitleDiv {
	padding-left: 9px;
}

.HeaderTextDiv {
	font-size: 16px;
	font-weight: 600;
}