.RegionTimeGroupContainerDiv {
    display: flex;
}

.RegionTimeGroupIconsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 6px;
}