@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.DatePickerContainerDiv {
}

.DatePickerInputDiv {
	display: flex;
	align-items: center;
	border: solid 1px #d7d7d7;
	padding: 6px;
	border-radius: 3px;
	width: fit-content;
}

.DatePickerInput {
	padding-left: 12px;
	border: 0;
	outline: none;
	width: 96px;
}
